@font-face {
    font-family: "norse-bold";
    src: url(fonts/Norse-Bold.woff2);
}

:root{
    --main-font-size: 16px;
    --main-font-family: Arial, Helvetica, sans-serif;
    --left-width: 40%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}

.left {
    width: var(--left-width);
    min-height: 100%;
    background-color: aqua;
    position: relative;
    overflow: hidden;
}

.title {
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35%;
}

.logo {
    max-width: 100%;
    height:85%;
    display: block;
    margin: 0 8px;
    flex: 0 1 auto;
}

.font {
    max-width: 100%;
    height: 85%;
    font-family: "norse-bold";
    color: #ffffff;
    font-size: 5rem;
    padding-top: 20px;
    /* line-height: 1; */
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right {
    width: calc(100% - var(--left-width));
    height: 100vh;
}

.right-top {
    width: auto;
    min-height: 35%;
    background-color: #f9fafb;
    padding: 16% 5% 2%;
}

.right-middle {
    width: auto;
    min-height: 30%;
    background-color: #ffffff;
    padding: 2% 5% 2%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10;
}

.right-middle h1 {
    margin-bottom: 1rem;
    font-family: var(--main-font-family);
}

.right-bottom {
    font-family: var(--main-font-family);
    width: auto;
    min-height: 35%;
    background-color: #f9fafb;
    padding: 4% 5% 2%;
}

button {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #596D48;
    box-shadow: 2px 2px 4px;
}

.right-bottom p {
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: #596D48;
}
a:hover {
    color: blue;
}

.description {
    font-size: 1.2rem;
    max-inline-size: 66ch;
    font-family: var(--main-font-family);
}

form {
    max-width: 80%;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-family: var(--main-font-family);
    font-size: 0.8rem;
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

input {
    width: 200px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid lightgray;
}

input[type="password"] {
    border:1px solid red;
}

input[type="password"]:valid {
    border:1px solid lightgray;
}

input:hover {
    border: 1px solid black;
}

input:focus {
    border-color: blue;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

button:hover {
    transform: scale(1.05);
}
button:active {
    background-color: black;
}