* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "norse-bold";
    src: url(fonts/Norse-Bold.woff2);
}

body {
    display: flex;
    

}

.left {
    width: 40%;
    height: 100vh;
    background-color: aqua;
}

.bg-img {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.right {
    width: 60%;
    height: 100vh;
}

.right-top {
    width: auto;
    height: 35%;
    background-color: gray;
}

.right-middle {
    width: auto;
    height: 30%;
    background-color: antiquewhite;
}

.right-bottom {
    width: auto;
    height: 35%;
    background-color: gray;
}