@font-face {
    font-family: "norse-bold";
    src: url(fonts/Norse-Bold.woff2);
}

:root{
    --main-font-size: 16px;
    --main-font-family: Arial, Helvetica, sans-serif;
    --left-width: 40%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}

.left {
    width: var(--left-width);
    min-height: auto;
    background-color: aqua;
    position: relative;
    object-fit: cover;
    overflow: hidden;
}

.title {
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35%;
}

.logo {
    max-width: 100%;
    max-height:85%;
    display: block;
    margin: 0 8px;
    flex: 0 1 auto;
}

.odin {
    max-width: 100%;
    max-height: 100%;
    font-family: "norse-bold";
    color: azure;
    font-size: 5rem;
    flex: 0 1 auto;
    overflow: hidden;
}

.bg-img {
    width: 100%;
    height: 100%;
}

.right {
    width: calc(100% - var(--left-width));
    min-height: 100vh;
}

.right-top {
    width: auto;
    min-height: 35%;
    background-color: #f9fafb;
    padding: 16% 5% 2%;
}

.right-middle {
    width: auto;
    min-height: 30%;
    background-color: #ffffff;
    padding: 2% 5% 2%;
}

.right-bottom {
    font-family: var(--main-font-family);
    width: auto;
    min-height: 35%;
    background-color: #f9fafb;
    padding: 4% 5% 2%;
}

button {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #596D48;
    box-shadow: 2px 2px 4px;
}

.right-bottom p {
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: #596D48;
}
a:hover {
    color: blue;
}

.description {
    font-size: 1.2rem;
    max-inline-size: 66ch;
    font-family: var(--main-font-family);
}

form {
 text-transform: uppercase;
}